@import "../../base/variable.scss";

.pwd-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    margin: 43px 73px;

    &__field {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 400px;
        margin-bottom: 9px;

        &.btn {
            width: 300px;
            margin-top: 30px;
        }

        label {
            @include text-body1();
            margin-bottom: 10px;
            font-weight: 600;
        }
    }

    .error {
        @include text-overline();
        color: $color-error;
        margin-top: 10px;
    }
}