@import "../../../base/variable.scss";

.detail-header{
    width : 100%;
    display: block;
    height : 300px;
    background-color: white;
    box-shadow: $shadow-dropdown;    
    text-align: left;

    .detail-img__container{
        @include background-default-small();     
        height : 200px;
        width : 100%;
        .reservation-detail__back--btn{
            cursor: pointer;
            background-color: rgba(0,0,0,0);
            .reservation-detail__leftArrow{
                width : 20px;
                height : 20px;
                margin : 10px;
            }
        }
    }
    .detail-header__content--container{
        padding : 20px;
        text-align: left;
        .detail-placeName{
            margin-bottom : 5px;
            font-weight: 800;
            @include line-clamp-ellipsis1();
        }
        .detail-header__content{
            display : flex;
            align-items: center;
            margin-top : 10px;

        }
        .detail-star{
            color : $color-text-yellow;
            font-weight: 700;
            display: flex;
            align-items: center;
            justify-content: flex-start;        
            img{
                width : 20px;
                height : 20px;
                margin-right : 3px;
            }
        }
        .detail-reservationStatus{
            color : $color-text-green;
            font-size : 15px;
            font-weight: 600;
            margin-left : 15px;
            .review{
                cursor: pointer; 
                &:hover {
                    color: $color-text-lightgreen;
                }  
            }
        }
    }
}