@import "../../../base/reset.scss";
@import "../../../base/mixin.scss";
@import "../../../base/variable.scss";

.reservation-detail{
    width : 70vw;
    margin : 40px auto;

    .back-btn{
        display: flex;
        justify-content: flex-start;   
        align-items: center; 
        background-color: rgba(0,0,0,0);
        label{
            color : $color-text-green;
            font-size : 15px;
            font-weight: 600;
            cursor: pointer;
        }
        &:hover {
            color: $color-text-lightgreen;
        }  
    }
    hr{
        color: $color-text-lightgreen;
        width : 100%;
        border-top : 1px solid rgb(195, 195, 195);  
        margin : 15px 0;   
    }
}