@import "../../../base/reset.scss";
@import "../../../base/mixin.scss";
@import "../../../base/variable.scss";

.reservation-detail{
    width : 60%;
    min-width: 550px;    
    margin : 40px auto;

    .reservation-detail__back--btn{
        display: flex;
        justify-content: flex-start;   
        align-items: center; 
        margin : 0 0 -30px 10px;
        background-color: rgba(0,0,0,0);
    }
    hr{
        width : 100%;
        border-top : 1px solid rgb(195, 195, 195);  
        margin : 15px 0;   
    }
}