@import "../../../base/reset.scss";
@import "../../../base/mixin.scss";
@import "../../../base/variable.scss";

.reservation{
    max-width: 100%;
    min-width : 550px;
}

.img-container,.card-header,.card-content{
    cursor: pointer;

}

.card-container{
    background-color: white;
    box-shadow: $shadow-dropdown;    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin : 10px 0;
    height: 240px;
    .img-container{
        background-color: $color-secondary;
        min-width: 230px;
        width: 30%;
        height : 100%;
    }
    .card{
        text-align: left;
        width : 100%;
        padding : 0 30px;
    }
    .card-header{
        .card-placeName{
            margin-top : 10px;
            width :100%;
            font-weight: 800;
            @include line-clamp-ellipsis1();
        }
        .card-reservationId{
            font-size: 15px;
        }
    }
    .card-content{
        text-align: left;
        padding : 10px 0;
        .checkin,.checkout,.reservation-time{
            display: inline-block;
            width : 70px;
            padding : 2px 0;
        }
        span{
            font-size: 15px;
        }
    }
    .card-reservationStatus{
        margin : 0 0 1vw;
        text-align: end;
        font-weight: 600;
        color : $color-text-green;
        font-size: 16px;
        .status{
            display: inline-block;
            width : 60px;
            cursor : default;
        }
        .reviewCompleted,.review{
            display: inline-block;
            max-width : 100px;
            margin-left : 15px;
            cursor : default;
        }
        .review{
            &:hover {
                color: $color-text-lightgreen;
            }  
            cursor: pointer;  
        }
    }
}