@import "../../base/reset.scss";
@import "../../base/mixin.scss";
@import "../../base/variable.scss";

body{
    .rc-tooltip-placement-top .rc-tooltip-arrow, 
    .rc-tooltip-placement-topLeft .rc-tooltip-arrow, 
    .rc-tooltip-placement-topRight .rc-tooltip-arrow {
        bottom: 4px;
        margin-left: -5px;
        border-top-color: rgba(0,0,0,0.2);
    }
}
.searchOptionMenu-container{
    width : 30%;
    min-width : 320px;
    margin : 30px 0;
    hr{
        border : 0.5px solid rgb(218, 218, 218);
    }
}

.category-container,
.personnel-container,
.distance-container,
.tagBtns-container{
    margin : 30px 0;
    .category-header,
    .personnel-header,
    .distance-header{
        padding : 0 20px;
        text-align: left;
    }
}
.category-container{
    .dropdown-container{
        margin : 10px 20px;
    }
}
.personnel-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.distance-container{
    .slider-container{
        width : 23vw;
        min-width: 180px;
        margin : 0 auto;
        margin-top : 20px;
    }
    .distance-content{                
        padding : 5px 20px;
        display: flex;
        justify-content: space-between;
        font-size: 12px;
    }
}
.tagBtns-container{
    .tabBtn{
        margin : 3px 5px;
        padding :5px 0;  
        width : 70px;
        @include button-white();
        &.clicked{
            @include button-hover-black();
        }
        &:hover {
            @include button-hover-gray();
        }
    }
}
.searchOptionMenu-submitBtn{
    margin : 15px 0;
    @include button-white();
    padding: 5px 15px;
    &:hover {
        @include button-hover-gray();
    }
}