@import "../../base/reset.scss";
@import "../../base/mixin.scss";

.search{
    main{
        min-width: 600px;
        justify-content: center;
        padding : 0 10vw;  
        margin : 0 auto;
        display: flex;
        align-items: top;  
        
        section{
            padding : 10px 3vw;
            margin : 10px 3vw;
            width : 60%;
            min-width : 400px;
        }
    }
}