@import "../../base/reset.scss";
@import "../../base/mixin.scss";
@import "../../base/variable.scss";

.searchResult-container{           
    overflow-y: auto;
    margin : 10px 0;
    padding : 0 10px;
    height :490px;
    .searchResult-card__component{
        color : white;
        border-radius: 20px;
        height : 150px;
        background-color: rgb(148, 153, 156);
        @include background-default-small();;
        padding : 0 20px;
        margin : 10px 5px;                            

        .col-1.placeName{
            margin : 0;
        }
        .row.top{   
            min-height: 105px;      
            position : relative;           
            display : flex;
            justify-content: space-between;
            align-items: flex-end;
            .col-1{
                font-size: 23px;
            }
            .col-2{
                .searchResult-starIcon{
                    width : 15px;
                }
                .searchResult-rate{
                    margin : 0 5px
                }
                .searchResult-review{
                    margin-left : 8px
                }
            }
        }
        .row.bottom{  
            margin : 5px 0;
            display : flex;
            justify-content: space-between;

            .col-1.address{
                text-align: left;
                min-width :70%;
                @include line-clamp-ellipsis1();
            }
            .col-2.leftRoom{
                width : 100px;
            }
        }
    }
}