@import "../../base/variable.scss";

.qr-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 10rem;
}

.qr-password-form {
    width: 280px;
    &__title {
        position: relative;
        background-color: $color-primary;
        border-radius: 20px 20px 0px 0px;
        border: 1px solid $color-primary;
        padding: 10px 0px;

        &--logo {
            @include text-subtitle1();
            color: $color-text-white;
        }

        img {
            position: absolute;
            top: 11px;
            right: 10px;
            cursor: pointer;
        }
    }

    &__content {
        width: 100%;
        background-color: $color-surface-white;
        border-radius: 0px 0px 20px 20px;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
        padding: 50px 0px;
    }

    &__top {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: $color-secondary;
        margin: -35px 10px 0px 10px;
        padding: 10px 20px;
        border-radius: 10px;

        &--title {
            @include text-body3();
            color: $color-text-darkgray;
        }

        &--text {
            @include text-h6();
            font-size: 1.2rem;
            font-weight: 600;
        }
    }

    &__box {
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 30px 30px 20px;

        &--text {
            @include text-body1();
        }

        &--input {
            @include text-body2();
            width: 200px;
            border-bottom: 2px solid $color-lightgray;
            padding: 10px;
            outline: none;
            margin-right: 10px;
            
            &::placeholder {
                color: $color-gray;
            }
        }
    }

    &__footer {
        display: flex;
        justify-content: center;
        margin-top: 40px;

        &--btn {
            width: 145px;
        }
    }
}
