@import "../../base/variable.scss";

.reservedCard-btn__container{
    display: flex;
    justify-content: flex-end;
    margin-left : 5px;

    .reservedCard-btn__complete, 
    .reservedCard-btn__accept{
        margin : 0 3px;
        display: inline-block;
        width : 90px;
    }

    .reservedCard-btn__complete{
        @include button-lightgreen;
        cursor : default;
    }
    .reservedCard-btn__accept{
        cursor: pointer;  
        @include button-green;
        &:hover {
            @include button-hover-green
        }
    }
}