@import "../../../base/variable.scss";

.qrcode-modal-form {
    
    &__top {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: $color-secondary;
        margin: -35px 10px 0px 10px;
        padding: 10px 20px;
        border-radius: 10px;

        &--title {
            @include text-body3();
            color: $color-text-darkgray;
        }

        &--text {
            @include text-h6();
            margin-top: 5px;
            font-weight: 600;
        }
    }

    &__wrapper {
        display:flex;
        align-items: center;
        justify-content: center;
        margin: 40px 0 20px;
    }

    &__box {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 200px;
        border-radius: 10px;

        &.naver {
            border: 8px solid #18cc6b;
        }

        &.kakao {
            border: 8px solid #FFEC11;
        }

        &.toss {
            border: 8px solid #0075FF;
        }

        img {
            width: 180px;
            height: 180px;
        }
    }

    &__footer {
        display: flex;
        justify-content: center;
        margin-top: 40px;

        &--btn {
            width: 145px;
        }
    }
}
