@import "../../../base/variable.scss";

.reservation-result-modal-form {
    
    &__top {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: $color-secondary;
        margin: -35px 10px 0px 10px;
        padding: 10px 20px;
        border-radius: 10px;

        &--title {
            @include text-body3();
            color: $color-text-darkgray;
        }

        &--text {
            @include text-h6();
            margin-top: 5px;
            font-weight: 600;
        }
    }

    &__text {
        @include text-h5();
        font-weight: 600;
        margin: 25px 0;
    }

    &__detail {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        border-top: 1px solid rgb(195, 195, 195);
        border-bottom: 1px solid rgb(195, 195, 195);
        margin: 10px 40px;
    }

    &__title {
        @include text-subtitle1();

        &-sub {
            @include text-subtitle2();
            margin-bottom: 15px;
        }
    }

    &__date {
        display: flex;
        width: 20rem;
        margin-bottom: 5px;
    }

    &__description {
        @include text-body3();
        margin: 40px 0 30px;
        text-align:left;
    }

    &__highlight {
        color: $color-error;
    }


    &__footer {
        display: flex;
        justify-content: center;
        margin-top: 40px;

        &--btn {
            width: 145px;
        }
    }
}

.reservation-result-modal {

    &__title {
        @include text-body2();
        display: flex;
        color: $color-text-gray;
        width: 5rem;
    }

    &__text {
        @include text-body2();
        font-weight: 600;
    }
}
