@import "../../base/variable.scss";

.search-preview {
    width: 100%;
    background-color: $color-surface-lightgray;
    height: 11rem;
    overflow-y: auto;
    border-radius: 7px;
    z-index:999;
  
    &::-webkit-scrollbar {
      width: 7px;
      border-radius: 10px;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.4);
      border-radius: 10px;
    }
  
    &::-webkit-scrollbar-track {
      margin: 8px;
    }

    &__list {
        background-color: transparent;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__item {
        @include text-body2();
        background-color: transparent;
        display: flex;
        align-items: center;
        height: 1.875rem;
        padding: 3px 12px;
        cursor: pointer;

        &:hover {
            background-color: $color-surface-variant;
        }
    }
}
