@import "../../base/mixin.scss";

.header{
    width : 100%;    
    height: 70px;

    position: relative;
    display: flex;
    align-items: center;

    .logo{
        display: flex;
        align-items: center;
        margin-left : 8vw;
        cursor: pointer;
        img{
            width : 35px;
        }
        h1{
            font-size : 20px;
            padding : 0 8px;
            font-weight: bold;
            font-style: italic;
        }
    }
    .buttons{        
        width: 100%;  
        display: flex;
        justify-content : end;
        margin-right: 8vw;
        .button{
            width: 120px;
            
            &:first-child {
                margin-right: 20px;
            }
        }
    }
}