@import "../../../../base/variable.scss";

.PlaceForm-container{
    .PlaceForm-header{
        font-size: 19px;
        font-weight: 800;
        margin : 20px 0 30px 0;
    }
    .PlaceForm-textField__container{
        font-size: 17px;
        display: flex;
        align-items: baseline;
        .PlaceForm-textField__label{
            font-weight: 600;
            width : 90px;
            margin-right : 10px;
            text-align: center;
        }
        input{
            height : 38px;
            padding : 0 0 0 20px;
            width : 60%;
            min-width : 300px;
        }
    }
    .PlaceForm-address__container{
        font-size: 17px;
        margin : 20px 0 10px 0;

        .PlaceForm-address__label{
            font-weight: 600;
            font-size : 19px;
            text-align: center;
        }
        .PlaceForm-address{
            margin-top : 10px;
            display : flex;
            align-items: center;            
            .PlaceForm-address__btn{
                margin-left: 15px;
                background-color: rgba(0,0,0,0);
                width : 50px;
                @include button-green();
                &:hover {
                    @include button-hover-green();
                }    
                padding :  10px 0;    
            }   
        }
        .PlaceForm-address__content{
            background-color: $color-surface-white;
            border-radius: 10px;
            border: 1px solid transparent;
            box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);

            height : 35px;
            max-width : 50%;
            min-width : 300px;
            margin-left : 20px;
            padding : 0 20px;

            font-size: 15px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
    }
}