@import "../../base/variable.scss";

.mypage{
    min-width: 700px;
    min-height: 90vh;
    margin : 0 auto;
    .mypage-header{   
        width: 600px;
        height: 50px;
        margin : 50px 0 0 20%; 
    }
    .mypage-content{  
        width : 55%;
        margin : 0 auto;
    }
}