@import "../../../base/reset.scss";
@import "../../../base/mixin.scss";
@import "../../../base/variable.scss";

.manageReservation{
    max-width: 100%;
    min-width : 550px;
}
.reservedCard-container{
    background-color: white;
    box-shadow: $shadow-dropdown;    
    margin : 10px 0;
    border-radius : 5px;
    height: 150px;
    text-align: left;

    .reservedCard-header{
        cursor: pointer;  
        padding : 30px 30px 10px 40px;
        .reservedCard-placeName{
            font-weight: 800;
            @include line-clamp-ellipsis1();
        }
    }
    .reservedCard-content{
        cursor: pointer;  
        padding : 10px 40px;
        font-size: 16px;
        .checkin,.checkout{
            display: inline-block;
            width : 70px;
        }
    }
    .reservedCard__btns{
        margin : -20px 10px 0 0;
    }
}