@import "../../../base/variable.scss";

.manageReservation{
    max-width: 100%;
    min-width : 550px;
}

.manageReservation-place__container{
    margin-bottom : 50px;

    .manageReservation-placeName{
        text-align: left;
        font-weight: 600;
        font-size : 20px;
        margin : 5px 0;
    }  

    .manageReservation-place__reservations{
        padding : 0 5px;
        max-height: 20rem;
        @include overflow-y-scroll();
    }
}

.reservedCard-container{
    background-color: white;
    box-shadow: $shadow-dropdown;    
    margin : 10px 0;
    border-radius : 5px;
    height: 160px;
    text-align: left;

    .reservedCard-header{
        cursor: pointer;  
        display: flex;
        
        .reservedCard__img--container{
            @include background-default();
            width: 200px;
            height: 160px;
        }

    }
    .reservedCard-content{
        padding : 30px;
        cursor: pointer;  
        font-size: 16px;
        .reservedCard-placeName{
            font-weight: 800;
            @include line-clamp-ellipsis1();
            margin-bottom :10px;
        }
        .checkin,.checkout{
            margin : 5px 0;
            display: inline-block;
            width : 70px;
        }
    }
    .reservedCard__btns{
        margin : -20px 10px 0 0;
    }
}