@import "../../../base/variable.scss";

.manageReservation-detail{
    width : 60%;
    min-width: 550px;
    margin : 40px auto;
    .manageReservation-detail__header{
        width : 100%;
        display: block;
        background-color: white;
        box-shadow: $shadow-dropdown;
        text-align: left;
   
        .manageReservation-detail__img--container{
            @include background-default-small();
            height : 200px;
            width : 100%;
            .manageReservation-detail__back--btn{
                cursor: pointer;
                background-color: rgba(0,0,0,0);
                .manageReservation-detail__leftArrow{
                    width : 20px;
                    height: 20px;
                    margin : 10px;
                }
            }
        }
        .manageReservation-detail__header--content{
            padding : 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .manageReservation-detail__placeName{
                font-weight: 800;
                @include line-clamp-ellipsis1();
            }
        }
    }
    hr{
        width : 100%;
        border-top : 1px solid rgb(195, 195, 195);  
        margin : 15px 0;   
    }
}