@import "../../../base/reset.scss";
@import "../../../base/mixin.scss";
@import "../../../base/variable.scss";

.managePlace{
    max-width: 100%;
    min-width : 550px;
}
.placeCard-container{
    background-color: white;
    box-shadow: $shadow-dropdown;    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin : 10px 0;
    height: 150px;
    text-align: left;

    .placeCard-img__container{
        background-image: url("../../../../assets//images/place-default-small.svg");
        background-repeat : no-repeat;
        background-size : cover;  
        background-position: center; 
        min-width: 220px;
        width: 30%;
        height : 100%;
    }

    .placeCard-header,.placeCard-content{
        padding : 10px 30px;
    }
    .placeCard-header{
        .placeCard-placeName{
            font-weight: 800;
            @include line-clamp-ellipsis1();
        }
    }
    .placeCard-content{
        .address,.phone{
            display: inline-block;
            width : 50px;
        }
        span{
            font-size: 15px;
        }
    }
}