@import "../../../base/variable.scss";

.placeCard-header,.placeCard-content{
    padding : 10px 30px;
}
.placeCard-header{
    .placeCard-placeName{
        font-weight: 800;
        @include line-clamp-ellipsis1();
    }
}

.placeCard-address{
    margin-bottom : 7px;
}

.placeCard-address,.placeCard-phone{
    display: inline-block;
    width : 60px;
}