@import "../../../base/variable.scss";

.placeCard{

}
.placeCard-img{

}
.placeCard-innerContent{
    
}
.placeCard-header,.placeCard-content{
    padding : 10px 30px;
}
.placeCard-header{
    .placeCard-placeName{
        font-weight: 800;
        @include line-clamp-ellipsis1();
    }
}
.placeCard-address__container{
    @include line-clamp-ellipsis1();
    margin-bottom : 7px;
}
.placeCard-address,.placeCard-phone{
    display: inline-block;
    width : 60px;
}