@import "../../../base/variable.scss";

.updateRoomInfo{
    width :100%;
    .updateRoomInfo-header{
        margin : 20px 25px;
        font-size: 18px;
    }
    .updateRoomInfo-textField__container{
        display: flex;
        align-items: baseline;
        width : 70%;
        min-width: 320px;
        margin : 0px 30px;

        .updateRoomInfo-textField__label{
            width : 80px;
        }
        input{
            font-weight: 500;
            height: 28px;
            font-size: 14px;
            padding : 0 0 0 15px;
        }
    }
    .updateRoomInfo-btn__container{
        display:flex;
        align-items: center;
        justify-content: flex-end;
        margin : 10px 80px 0 0;
        .deleteRoomInfo-btn,.updateRoomInfo-btn{
            width : 45px;
            text-align: right;
            background-color: rgba(0,0,0,0);
            font-weight: 500;
            color: $color-text-lightgreen;
            cursor: pointer;  
            font-size: 16px;
            &:hover {
                color : $color-text-green;
            }
        } 
    }
}