@import "./reset.scss";
@import "./mixin.scss";

 body{
    .rc-tooltip-placement-top .rc-tooltip-arrow, 
    .rc-tooltip-placement-topLeft .rc-tooltip-arrow, 
    .rc-tooltip-placement-topRight .rc-tooltip-arrow {
        bottom: 4px;
        margin-left: -5px;
        border-top-color: rgba(0,0,0,0.2);
    }
}

.search{
    .container.searchHeader{              
        background-color: rgb(231, 231, 231);
        min-width: 700px;

        .wrapper{        
            width : 80%;    
            margin : 0 auto;
            padding : 20px 0;
            h1{
                margin : 10px 0 0 0 ;
                text-align : left        
            }
            .container.inputs{
                display: flex;            
                flex-wrap: wrap;
                align-items :end;
                justify-content: left;
                margin : 20px 0 0;

                input{
                    margin : 5px 0;
                    padding : 10px;
                    border-radius: 20px;
                    height: 20px;
                }
                .input.address{
                    margin-right : 20px;                    
                    width : 200px;
                }
                .container.date-input{
                    text-align: left;
                    
                    input{
                        position: relative;
                        background: url(../assets/images/calendar.png) no-repeat white;
                        background-position: 15px center;
                        background-size :14px;
                        text-indent: 13px;
                        width: 150px;
                        text-align: center;
                    }

                    input[type="date"]::-webkit-calendar-picker-indicator {
                        display: block;
                        cursor: pointer;
                        position: absolute;
                        top: 0;
                        left: 0px;
                        right: 0;
                        bottom: 0;
                        width: auto;
                        height: auto;
                        color: transparent;
                        background: transparent;
                    }                    
                    span{
                        margin : 0 5px;
                    }
                    button{
                        background-color: white;                        
                        margin : 0 5px;
                        height: 40px;
                        width : 50px;
                        border-radius: 20px;
                    }
                }
            }
        }      

    }
    main{
        min-width: 600px;
        justify-content: center;
        padding : 0 10vw;  
        margin : 0 auto;
        display: flex;
        align-items: top;  
        
        .container.SearchOptionMenu{
            width : 40%;
            min-width : 250px;
            margin : 50px 0;
            hr{
                border : 0.5px solid rgb(218, 218, 218);
            }
            h3{
                padding : 0 20px;
                text-align: left;
            }
            button{
                border-radius: 20px;
                border-radius: 20px;                        border : 1px solid black;
                border : 1px solid black;
            }
            .container.category{
                margin : 30px 0;
                h3{
                    margin : 10px 0;
                }
                select{
                    width :90%;
                    padding : 10px 15px;
                    border-radius: 20px;
                    border : 1px solid black;
                    option{

                    }
                }   
            }
            .container.personnel{
                margin : 40px 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                h3{

                }
                .counter{
                    button{
                        font-size: 20px;
                        border : none;
                        background-color: white;   
                    }
                    span{
                        margin : 0 10px;
                        background-color: rgb(235, 235, 235);
                        border-radius: 20px;
                        padding : 10px 15px;
                    }  
                }
            }
            .container.distance{
                margin : 30px 0;

                .container.slider{
                    width : 23vw;
                    min-width: 180px;
                    margin : 0 auto;
                    margin-top : 20px;
                }

                p{                
                    padding : 5px 20px;
                    display: flex;
                    justify-content: space-between;
                    font-size: 12px;
                }
            }
            .container.buttons{
                margin : 30px 5px;
                button{
                    margin : 3px 5px;
                    padding :5px 0;  
                    width : 70px;
                }
            }
            .button.submit{
                padding : 10px 20px;
                margin : 20px 0;
            }
            .clicked{
                color : white;
                background-color: black;
                border : 1px solid white;
            } 
        }
        section{
            padding : 10px 3vw;
            margin : 10px 3vw;
            width : 60%;
            min-width : 400px;
            .buttons{
                display: flex;
                justify-content: center;
                button{
                    border-radius: 20px;
                    padding : 10px 5px;
                    font-size: 12px;
                }
                .buttons.filter{
                    button{
                        width : 10vw;
                        min-width:90px;

                    }
                }
                .button.map{
                    margin-left : 1.5vw;
                    width : 60px;
                }
            }
            .container.searchResult{           
                overflow-y: auto;
                margin : 20px 0;
                .card-component{
                    color : white;
                    border-radius: 20px;
                    height : 150px;
                    background-color: rgb(148, 153, 156);
                    padding : 0 20px;
                    margin : 10px 5px;                            

                    h1{
                        margin : 0;
                    }
                    .row.top{   
                        min-height: 105px;      
                        position : relative;           
                        display : flex;
                        justify-content: space-between;
                        align-items: end;
                        .col-1{
                            font-size: 23px;

                        }
                        .col-2{
                            img{
                                width : 15px;
                            }
                            .rate{
                                margin : 0 5px
                            }
                            .review{
                                margin-left : 8px
                            }
                        }
                    }
                    .row.bottom{  
                        margin : 5px 0;
                        display : flex;
                        justify-content: space-between;
                        align-items: end;
                        .col-1{

                        }
                        .col-2{

                        }                    
                    }
                }
            }
        }
    
    }
}