@import "../../../base/variable.scss";

.search-list__container {
    display:flex;

    &--items {
        display: flex;
        flex-direction: column;
        min-height: 800px;
        max-height: 800px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 7px;
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.2);
            border-radius: 10px;
        }

        &::-webkit-scrollbar-track {
            margin: 8px;
        }

        &.review {
            min-height: 1000px;
            max-height: 1000px;

            
            &:hover {
                opacity: 1;
            }
        }
    }

    &--item {
        display: flex;
        box-shadow: $shadow-center;
        margin-left: 0.1rem;
        margin-bottom: 1rem;
        margin-right: 0.7rem;
        min-width: 68rem;

        &:first-child {
            margin-top: 0.3rem;
        }

        .image {
            background: url("../../../../assets/images/place-default-small.svg") no-repeat;
            background-size: cover;
            width: 16.5rem;
            height: 8rem;
            color: transparent;
        }

        .content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 20px 40px;
            gap: 0.5rem;
            width: 48.5rem;

            &__title {
                @include text-h6();
                font-weight: 600;
                line-height: 2rem;
            }

            &__info {
                @include text-subtitle1();
                display: flex;
                gap: 4rem;
            }

            &__btn {
                width: 100%;
                display: flex;
                justify-content: flex-end;

                &--reservation {
                    @include text-subtitle1();
                    font-weight: 600;
                    color: $color-text-green;
                    appearance: none;
                    background-color: transparent;
                }

                &--closed {
                    @include text-subtitle1();
                    font-weight: 600;
                    color: $color-gray;
                    cursor: not-allowed;
                }

                &:hover {
                    opacity: 0.7;
                }
            }

            &:last-child {
                gap: 0;
            }
        }
    }

    .review-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 15px 30px;
        gap: 0.5rem;
        width: 68rem;
        color: $color-primary;

        &__rating{
            @include text-h6();
            display: flex;
            align-items: center;
            font-weight: 600;
            color: $color-text-yellow;

            img {
                margin-right: 5px;
            }
        }

        &__content {
            @include text-body1();
            white-space: normal;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        &__info {
            display:flex;
            justify-content: flex-end;
            width: 100%;
            gap: 1.5rem;

            .writer {
                @include text-body2();
                font-weight: 600;
            }

            .date {
                @include text-body2();
                font-weight: 600;
            }
        }
    }
}